body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
}

.display-pic {
  border-radius: 50%;
  width: 9em;
  box-shadow: 2px 4px 15px lightslategrey;
}

.hey-title {
	font-family: 'Rock Salt', cursive;
	font-size: 1.3em;
    color: black;
    font-weight: bold;
}

.tlrname {
	font-family: 'Secular One', sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #e76e3c;
}

.btn {
	text-align: left;
	font-family: 'Secular One', sans-serif;
	font-size: 1em;
	text-transform: none;
	letter-spacing: 0.5px;
	padding-right: 0.2em;
    padding-left: 0.2em;
    box-shadow: 4px 4px #e76e3c;
}

.button-pic {
	width: 75%;
	border-radius: 50%;
}

.socmed-btn {
	color: black;
	text-shadow: 2px 2px #e76e3c;
}

.socmedlabel {
	font-family: 'Secular One', sans-serif;
	font-size: 0.6em;
}

.tlrdesc {
	font-family: 'Secular One', sans-serif;
	font-size: 0.7em;
}

.smiley {
	font-size: 1.2em;
}


/******RESPONSIVENESS******/

/*For tablet*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.button-pic {
		width: 48%;
	}
}

/*For desktop1*/
@media only screen and (min-width: 767px) and (max-width: 800px) {
	.button-pic {
		width: 48%;
	}

	.btn {
		font-size: 1.14em;
	}
}

/*For desktop1*/
@media only screen and (min-width: 800px) and (max-width: 992px) {
	.hey-title {
    	font-size: 2.5em;
	}

	.display-pic {
 	   width: 13em;
	}

    .tlrname {
	    font-size: 1.7em;
	    margin-top: 1em;
	}

	.tlrdesc {
	    font-size: 1em;
	    margin-bottom: 3em;
	}

    .button-pic {
		width: 48%;
	}

	.btn {
		font-size: 1.5em;
	}
}

/*For desktop2*/
@media only screen and (min-width: 992px) {
	.button-pic {
		width: 60%;
	}

	.btn {
		font-size: 1.3em !important;
	}

	.hey-title {
    	font-size: 2em;
    }

    .display-pic {
 	   width: 10em;
	}

	.tlrname {
    	font-size: 1.4em;
    }

    .tlrdesc {
    	font-size: 0.9em;
    }

    .socmed-btn {
		font-size: 1.5em;
	}

.socmedlabel {
	font-size: 0.8em;
}
}